.App {
  text-align: center;
}

/* .sectionTest {
  :global .Select-control {
      height: 30px;
  }
  :global .Select-placeholder {
      line-height: 20px
  }
  :global .Select-value {
    line-height: 26px !important;
  }

  :global .Select-value-label {
      line-height: 26px;
    }

  :global .Select-input {
    height: 26px;
  }
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .sectionTest {
  :global .Select-control {
    height: 30px;
  }
  :global .Select-placeholder {
    line-height: 20px;
  }
  :global .Select-value {
    line-height: 26px !important;
  }

  :global .Select-value-label {
    line-height: 26px;
  }

  :global .Select-input {
    height: 26px;
  }
} */


/* $select-item-gutter: 4px;
$select-item-font-size: 11px;
$select-input-height: 30px;
@import "../../node_modules/react-select/scss/default"; */




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
